<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
<!-- ============================== -->
<!-- Append messages to the console -->
<!-- ============================== -->

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		
		<param name="Target" value="System.out"/>
		
		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<param name="ConversionPattern" value="%-5p [%c{1}] %m%n"/>
		</layout>
	
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG"/>
			<param name="AcceptOnMatch" value="true"/>
		</filter>
	
	</appender>
	
	<root>
		<appender-ref ref="CONSOLE"/>
	</root>
	
</log4j:configuration>
